/* Display */

span{
    background-color: black;
    font-family: Helvetica;
    color: white;
    display: inline;
}

div.satu{
    background-color: blueviolet;
    color: pink;
    display: block;
}

div.dua{
    background-color: blue;
    color: white;
    display: inline-block;
}